body{
    background-color:gray
}
ul{
background-color: aquamarine;
border-color: black;
border-style:solid;
padding: 20px;
border-radius: 30px;
}
 #p {
    padding: 5px;
    border-style: solid;
    margin: 5;
    border-radius: 4%;
    text-align: center;
    border-radius: 50px;
}
.lista {
    padding: 10px;
    border-style: groove;
    border-radius: 50px;
    border-color: black;
}
#nombre {
position: relative;
text-align: center;
box-sizing: border-box;
background-color: aquamarine;
border-style: solid;
} 
h1{
    text-align: center;
    background-color: aliceblue;
    border-style: solid
}
p{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
#h3 {
    text-align: center;
}