body{
    background-color:gray
    
}
#contendor {
    border-style: solid;
    border-color: black;
    margin: 10px;
}
ul{
background-color: rgb(89, 54, 170);
border-color: black;
border-style:solid;
padding: 20px;
border-radius: 30px;
width: 650px;
position: relative;
}
 h4{
    padding: 5px;
    border-style: solid;
    margin: 5;
    border-radius: 4%;
    text-align: center;
    border-radius: 50px;
    font-size: 23px;
}
.lista {
    padding: 10px;
    border-style: groove;
    border-radius: 50px;
    border-color: black;
}
#subtitulo{
position: relative;
text-align: center;
box-sizing: border-box;
color: rgba(245, 245, 245, 0.925);

} 
h1{
    text-align: center;
    background-color: aliceblue;
    border-style: solid
}
p{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: whitesmoke;
}
#h3 {
    text-align: center;
    color: rgba(255, 255, 255, 0.808);
}
li{
    background-color: rgb(157, 128, 211);
}
#titulo {
    color: black;
    width: 50%;
    margin: auto;
    
}
#ul2 {
    bottom: 1050px;
    left: 720px;
    width: 570px;
    padding: 20px;
   height: 990px;
}